# Ignore config files with secrets
synapseFlask/config.json
synapse-frontend/src/config.js 
synapseFlask/synapse-54cfb-firebase-adminsdk-fbsvc-6d63c78be8.json

synapseBackendFlask/config.json
synapseBackendFlask/synapse-54cfb-firebase-adminsdk-fbsvc-6d63c78be8.json

# Flask uploads & evidence (user data, temp files)
synapseFlask/uploads/
synapseFlask/evidence/

/uploads/
/evidence/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.venv

# Virtual environment
venv/
.env/

node_modules
.dist
.vite
.DS_Store
.env*
