# Ignore config files with secrets
synapseFlask/config.json
synapseFlask\synapse-54cfb-firebase-adminsdk-fbsvc-6d63c78be8.json
# Optional: also ignore service account JSONs
*.json
!package.json   # keep Node's package.json if needed

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/
